#content{
  text-align: center;
  margin-top: 200px;
}
body{
  background: url("https://media.tenor.com/images/146b36448a0fb3f3693cde5625f1b6c4/tenor.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
html{
  height: 100%;
}
#c1{
  color: yellow;
  font-size: 5em;
  font-weight: 700;
}
#c2{
  color:#a8eb34;
}
hr{
  border: 3px solid red;
  width:40%;
}
.navbar{
  background: green;
}
.navbar a{
  color:yellow !important;
}
p{
  font-size: 1.5em;
  color:yellow;
  text-align: center;
}
